/*-- testimonial Section CSS --*/
.body{
	/* background-color: rgba(1, 0, 5, 0.87); */
	/* background-color: #252426; */
	/* background: #fff; */
	background-repeat: repeat;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#testimonial {
    /* padding: 30px 0px 20px; */
    color: #fff;
    /* background-color: #010005; */
	background-color: rgba(1, 0, 5, 0.87);
	height:100%;
	justify-content: center;
	align-items: center;
}


#testimonial .carousel-content {
    padding: 0px 0px 20px 0px;
    width: 100%;
    margin: 0 ;
    /* position: absolute; */
	margin-left: 155px;
	padding-right: 60px;
	margin-right: 50px;

}
#testimonial h3 {
    font-size: 17px;
    color: #fff;
    margin-bottom: 30px;
    font-style: italic;
    text-align: right;
}
#testimonial p {
    font-size: 15px;
}

#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
    font-size: 36px;
}

@media (max-width: 576px) {
#testimonial .carousel-content {
    padding: 20px 0px 20px 0px;
    width: 100%;
}

#testimonial h3, #testimonial p {
    text-align: center;
}
}
/*-- End Testimonial Section CSS --*/

/* .row{
	margin-top: 150px;
} */

.section-title{
	
	font-family: Zilla Slab;
	font-size: 64px;
	text-align: center;
	color:#FCBE02;
	/* margin-top: 50px; */
	padding-top: 50px;
}
.carousel-item{
	border:2px #fff;
}
#contentbox{
	background-color: rgba(238, 238, 238, 0.23);
	/* padding: 125px; */
	/* padding-bottom: 175px; */
	/* height:400px; */
	height:fit-content;
	width:70%;
	border-radius: 28px;
	margin-top: 70px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	padding-top:10px ;
  }
#maintext{
	text-align: center;
	padding-top: 50px;
	word-wrap: break-word;
	overflow:hidden;
}
.one{
	margin-top: 0px;

}
#id{
	/* width:60px;
	height: 10px; */
	/* width: 100%; or any custom size */
	width:200px;
    height: 100%; 
	
    object-fit: contain;
	padding-top: 100px;
	padding-left: 30px;
}
@media(max-width:768px){
	#maintext{
	
		word-wrap: break-word;
		overflow:hidden;
	}
}
@media(max-width:992px){
	#testimonial .carousel-content {
		margin-left: 80px;
	
	}
}
@media(max-width:446px){
	#testimonial .carousel-content {
		margin-right: 100px;
	
	}
}

